{% extends "AdminBundle::layout.html.twig" %}

{% block custom_css %}
<link href="{{ asset('bundles/admin/css/plugins/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Category Manager</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          DataTables Advanced Tables
          <div class="pull-right">
            <a href="{{ path('admin_category_create') }}">Add new</a>
          </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
              <thead>
                <tr>
                  <th>Category Id</th>
                  <th>Category Name</th>
                  <th>Status</th>
                  <th>Created Date</th>
                </tr>
              </thead>
              <tbody>
                                        {% set cnt = 1 %}
                                        {% for item in category %}                                        
                <tr class="{{ cnt % 2 ? 'even' : 'odd' }} gradeX">
                  <td>{{ item.categoryId }}</td>
                  <td>{{ item.categoryName }}</td>
                  <td>{{ item.status }}</td>
                  <td class="center">{{ item.createdDate.date }}</td>
                </tr>
                                        {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
  </div>
  <!-- /.row -->
</div>
{% endblock %}

{% block custom_js %}    
<!-- Page-Level Plugin Scripts - Tables -->
<script src="{{ asset('bundles/admin/js/plugins/dataTables/jquery.dataTables.js') }}"></script>
<script src="{{ asset('bundles/admin/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>

<script>
  $(document).ready(function() {
    $('#dataTables-example').dataTable();
  });
</script>
{% endblock %}